@font-face {
  font-family: "Mazzard M regular";
  src: url("../../public/fonts/MazzardM-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Mazzard H regular";
  src: url("../../public/fonts/mazzard-h-regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Mazzard H medium";
  src: url("../../public/fonts/mazzard-h-medium.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Mazzard H bold";
  src: url("../../public/fonts/mazzard-h-bold.ttf");
  font-weight: 400;
}
