@import "./_fonts.scss";
@import "./_reset.scss";

body {
  font-family: "Mazzard H regular";
  background-color: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #f3f3f3;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  margin-top: 22px;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__logo {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
}

.nav__list {
  display: flex;
  margin-left: auto;
}

.nav__list-link:not(:first-child) {
  margin-left: 45px;
}

.nav__career {
  cursor: pointer;
  width: 170px;
  height: 60px;
  background: linear-gradient(140.6deg, #ffffff -27.18%, #dedede 126.06%);
  box-shadow: 0px 0px 49px rgba(42, 7, 254, 0.4);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 47px;
}

.nav__career-btn {
  cursor: pointer;
  font-family: "Mazzard H bold";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.nav__arrow {
  margin-left: 8px;
  width: 24px;
  height: 24px;
  left: 1270px;
  top: 41px;
}

/* Main */

.main {
  margin-top: 100px;
}

.main__inner {
  display: flex;
}

.main__sphere {
  position: absolute;
  width: 742px;
  height: 597px;
  left: -224px;
  top: -158px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 255, 255, 0.09) 0%,
    rgba(196, 196, 196, 0) 100%
  );
  object-fit: cover;
}

.main__title {
  font-family: "Mazzard H medium";
  font-style: normal;
  font-weight: 500;
  font-size: 19.2776px;
  line-height: 23px;
  text-transform: uppercase;
  color: #aaaaaa;
  margin-bottom: 32.26px;
}

.main__bgImage {
  position: absolute;
  width: 1535.39px;
  height: 676.37px;
  left: -41.4px;
  top: 89px;
  mix-blend-mode: hard-light;
  opacity: 0.35;
  z-index: -2;
}

.main__bgImage1 {
  background-attachment: fixed;
  width: 127px;
  height: 16px;
  left: 97px;
  top: 184.49px;
  font-family: "Noto Sans Mono";
  font-style: normal;
  font-weight: 100;
  font-size: 11.9447px;
  line-height: 16px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #b5c5ff 53.58%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.main__bg-text2 {
  position: fixed;
  width: 220.79px;
  height: 116.38px;
  left: 424px;
  top: 503.49px;
  font-family: "Noto Sans Mono";
  font-style: normal;
  font-weight: 100;
  font-size: 11.9447px;
  line-height: 16px;

  background: radial-gradient(
    50% 50% at 50% 50%,
    #b5c5ff 53.58%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  opacity: 0.4;
  z-index: -4;
}

.main__subtitle {
  width: 740px;
  font-family: "Mazzard H bold";
  font-style: normal;
  font-weight: 600;
  font-size: 96.3878px;
  line-height: 90px;
  color: #ffffff;
  text-shadow: 0px 5.14068px 5.14068px rgba(0, 0, 0, 0.25);
}

.main__subtitle-blue {
  font-family: "Mazzard H bold";
  font-style: normal;
  font-weight: 600;
  font-size: 96.3878px;
  line-height: 90px;
  background: linear-gradient(
    89.95deg,
    #487fff -1.65%,
    #73b5ff 51.06%,
    #cb76ff 99.96%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-shadow: 0px 5.14068px 5.14068px rgba(0, 0, 0, 0.25);
}

.main__descr {
  margin-top: 32.13px;
  width: 559.05px;
  font-family: "Mazzard H regular";
  font-style: normal;
  font-weight: 400;
  font-size: 25.7034px;
  line-height: 30px;
  color: #e9e9e9;
}

.main__descr-img {
  position: absolute;
  width: 798.54px;
  height: 435px;
  right: -120px;
  top: 150px;
  z-index: -1;
  background-attachment: fixed;
}

.main__bg- {
}

.main__learn-more {
  margin: 0 auto;
  margin-top: 94px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 68px;

  background: linear-gradient(140.6deg, #3e6ff9 -27.18%, #3e53f8 126.06%);
  box-shadow: 0px 0px 49px rgba(42, 7, 254, 0.4);
  border-radius: 10px;
}

.main__learn-more-icons {
  position: relative;
}

.main__learn-more-ellipse {
  margin-left: 34px;
}

.main__learn-more-arrow {
  position: absolute;
  left: 65%;
  top: 35%;
}

.main__mouse {
  margin: 0 auto;
  margin-top: 118px;
  text-align: center;
  width: 17px;
  height: 29px;
  position: relative;
}

.main__mouse-icon1 {
}

.main__mouse-icon2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 6px;
}
/* Main */

/* About */

.about__bgImage {
  position: absolute;
  width: 1833px;
  height: 1833px;
  left: 97px;
  top: 818px;
  z-index: -1;
}

.about__inner {
  margin-top: 143px;
}

.about__title {
  font-family: "Mazzard H medium";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #aaaaaa;
}

.about__subtitle {
  font-family: "Mazzard H medium";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.02em;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
  text-align: center;
  margin-bottom: 15px;
}

.about__row {
  display: flex;
  max-width: 1065px;
}

.about__chart-image {
}

.about__content {
  margin-left: auto;
  margin-top: 93px;
  max-width: 373px;
  font-family: "Mazzard H regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #e9e9e9;
}

.about__content-title {
  font-family: "Mazzard H bold";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 43px;
  color: #ffffff;
  margin-bottom: 33px;
  margin-left: 8px;
}

.about__content-item {
  display: flex;
}

.about__content-text {
  margin-left: 5px;
  margin-bottom: 26px;
  margin-top: 8px;
}

.about__polygon {
  align-self: flex-start;
}

.about__start {
  margin-top: 18px;
  cursor: pointer;
  width: 205px;
  height: 62px;
  margin-left: 15px;
  background: linear-gradient(140.6deg, #3e6ff9 -27.18%, #3e53f8 126.06%);
  box-shadow: 0px 0px 49px rgba(42, 7, 254, 0.4);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* About */

/* About platform */

.platform__inner {
  margin-top: 258px;
  display: flex;
}

.platform__inner::after {
  content: "";
  position: absolute;
  width: 251px;
  height: 265px;
  right: 299px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 255, 255, 0.07) 0%,
    rgba(196, 196, 196, 0) 100%
  );
}

.platform__rectangles {
  display: flex;
}

.platform__rectangle {
  padding: 40.56px 27.04px;
  width: 216.33px;
  height: 292.05px;
  border: 0.9px solid rgba(255, 255, 255, 0.3);
  background: radial-gradient(
    100% 100% at 0% 0%,
    rgba(48, 48, 48, 0.15) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: inset -4.50695px -4.50695px 225.348px rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(12.6195px);
  border-radius: 25.2389px;
  position: relative;
  align-self: flex-end;
}

.platform__card {
  width: 162.25px;
  height: 52.28px;
  background: #000000;
  border-radius: 10.8167px;
  font-family: "Mazzard H regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14.4222px;
  line-height: 170%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.9px solid gray;
}

.platform__card::after {
  content: "";
  position: absolute;
  right: 0;
  background: url("../img/svg/Line 1.svg") center no-repeat;
  width: 26.96px;
  height: 1px;
}

.platform__card--column2 {
  position: relative;
  width: 162.25px;
  height: 52.28px;
  border-radius: 10.8167px;
  font-family: "Mazzard H regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14.4222px;
  line-height: 170%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 161.5px;
  margin-left: 34.3px;
  border: 0.9px solid gray;
}

.platform__card--column2::before {
  content: "";
  background: url("../img/svg/Line 6.svg");
  width: 21.63px;
  height: 1px;
  position: absolute;
  right: 153.94px;
}

.platform__card-column3 {
  width: 162.25px;
  height: 52.28px;
  background: #000000;
  border-radius: 10.8167px;
  font-family: "Mazzard H regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14.4222px;
  line-height: 170%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto !important;
  position: relative;
  margin-bottom: 40.86px !important;
  border: 0.9px solid gray;
}

.platform__card-column3::before {
  content: "";
  background: url("../img/svg/Line 7.svg");
  width: 84.2px;
  height: 1px;
  position: absolute;
  right: 162.3px;
  z-index: 1;
}

.platform__card--column2-card2 {
  margin-top: 39.56px;
  border: 0.9px solid gray;
}
.platform__card--line1::after {
}
.platform__card:nth-child(2)::before {
  content: "";
  position: absolute;
  right: -20px;
  background: url("../img/svg/Line 2.svg") center no-repeat;
  width: 46.87px;
  height: 1px;
}

.platform__card:nth-child(2)::after {
  content: "";
  position: absolute;
  right: -19.83px;
  background: url("../img/svg/Line 3.svg") center no-repeat;
  width: 1px;
  height: 91.94px;
  opacity: 0.8;
}

.platform__card:not(:last-child) {
  margin-bottom: 27.04px;
}

.platform__cards--centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.platform__cards--line4 {
  position: relative;
}

.platform__cards--line4::before {
  content: "";
  background: url("../img/svg/Line 4.svg");
  width: 21.63px;
  height: 0px;
  position: absolute;
  left: 0;
}

.platform__rectangle--big {
  margin-left: 33.35px;
  width: 265.91px;
  height: 379.49px;
  border: 0.9px solid rgba(255, 255, 255, 0.3);
  background: radial-gradient(
    100% 100% at 0% 0%,
    rgba(48, 48, 48, 0.15) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: inset -4.50695px -4.50695px 225.348px rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(12.6195px);
  border-radius: 25.2389px;
  position: relative;
}

.platform__rectangle--big::before {
  content: "";
  background: url("../img/svg/Line 8.svg");
  position: absolute;
  bottom: -20px;
  right: -20px;
  width: 82.93px;
  height: 1px;
}

.line8 {
  position: absolute;
  left: 117.18px;
  bottom: -21.63px;
}

.platform__rectangle-content:after {
  content: "";
  background: url("../img/svg/Vector 55.svg") center no-repeat;
  width: 7.21px;
  height: 7.21px;
  position: absolute;
  left: 115.18px;
  bottom: -28.13px;
}

.platform__rectangle-content::before {
  content: "";
  background: url("../img/svg/Vector 56.svg") center no-repeat;
  width: 7.21px;
  height: 7.21px;
  position: absolute;
  left: 140.6px;
  bottom: 57.49px;
}

.platform__text {
  position: absolute;
  bottom: -75.58px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Mazzard H regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16.225px;
  line-height: 170%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
}

.line9 {
  position: absolute;
  left: 143.43px;
  bottom: -25.63px;
}

.platform__rectangle-content {
  padding-left: 29.75px;
  padding-right: 31.75px;
}

.platform__rectangle-img {
  display: inline-block;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 14.34px;
}

.platform__rectangle-text {
  margin-bottom: 16.73px;
  text-align: center;
  width: 204.62px;
  font-family: "Mazzard H regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14.4222px;
  line-height: 138%;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
}

.platform__cards {
}

.gray {
  color: #aaaaaa;
}

.platform__content {
  margin-left: 87px;
}

.platform__content-title {
  width: 415px;
  font-family: "Mazzard H medium";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.02em;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
  margin-bottom: 21px;
}

.platform__content-subtitle {
  margin-bottom: 21px;
  width: 382px;
  font-family: "Mazzard H regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.01em;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
  opacity: 0.7;
}

.platform__content-more {
  font-family: "Mazzard H regular";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0.01em;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #7b93ff;
}
.cards {
  margin-top: 183.99px;
}

.cards__row {
  display: flex;
  justify-content: space-between;
}

.cards__row-sm {
  display: flex;
}

.cards__card {
  background: #0a0a0d;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.35);
  border-radius: 46px;
  position: relative;
  box-shadow: -7px 10px 24px 2px rgba(0, 0, 0, 0.75);
}

.cards__card--big {
  width: 464px;
  height: 691px;
}

.cards__card--big::after {
  content: "";
  position: absolute;
  width: 256.79px;
  height: 167.46px;
  bottom: -20.3px;
  right: -41.95px;
  background: rgba(47, 47, 45, 0.8);
  filter: blur(97px);
}

.cards__card-sm {
  width: 320px;
  height: 358px;
  box-shadow: -7px 10px 24px 2px rgba(0, 0, 0, 0.75);
  position: relative;
}

.cards__card-sm::after {
  content: "";
  position: absolute;
  width: 177.1px;
  height: 86.76px;
  right: -28.93px;
  bottom: -10.52px;
  background: rgba(47, 47, 45, 0.8);
  filter: blur(97px);
}

.cards__card-img {
  position: absolute;
  left: 0;
}

.cards__card-content {
  padding-top: 351px;
  padding-bottom: 116px;
  padding-left: 30px;
  padding-right: 105px;
}

.cards__card-content1 {
  padding: 30px 30px 46px 37px;
}

.cards__card-title {
  font-family: "Mazzard H medium";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #aaaaaa;
}

.cards__card-subtitle {
  margin-top: 61px;
  width: 329px;
  height: 145px;
  font-family: "Mazzard H regular";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.02em;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
  opacity: 0.9;
}

.cards__card-subtitle1 {
  margin-top: 66px;
  width: 244px;
  font-family: "Mazzard H regular";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 43px;
  color: #ffffff;
}

.gradient {
  font-family: "Mazzard H medium";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.02em;
  font-feature-settings: "pnum" on, "lnum" on;
  background: linear-gradient(
    89.95deg,
    #487fff -1.65%,
    #73b5ff 51.06%,
    #cb76ff 99.96%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.cards__card-more {
  display: inline-block;
  margin-top: 61px;
  font-family: "Mazzard H regular";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #aaaaaa;
}

.medium {
  display: inline-block;
  font-family: "Mazzard H medium";
  font-style: normal;
  font-weight: 500;
}

.cards__card--md {
  margin-top: 30px;
  width: 676px;
  height: 303px;
  position: relative;
}

.cards__card--md::after {
  content: "";
  background: url("../img/svg/Shadow4.svg");
  width: 206px;
  height: 175px;
  position: absolute;
  right: -36px;
  bottom: -24px;
}

.cards__card-bg4 {
  position: absolute;
  right: 0;
}

.cards__card-content4 {
  padding: 27px 30px 0 30px;
}

.cards__card-title4 {
  font-family: "Mazzard H medium";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #aaaaaa;
  margin-bottom: 61px;
}

.cards__card-subtitle4 {
  width: 312px;
  font-family: "Mazzard H regular";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 43px;
  color: #ffffff;
  opacity: 0.9;
}

/* About platform */
